<%- include partials/header %>
  <main class="contact">
    <section class="contact-form">
      <h1>Let's connect!</h1>
      <form action="/submitform" method="post">
        <fieldset>
          <legend>Fill out the required fields</legend>

          <label for="name">Name</label>
          <input type="text" id="name" name="name" required>

          <label for="email">Email</label>
          <input type="text" id="email" name="email" required>

          <label for="message">Message</label>
          <textarea name="message" id="message" cols="50" rows="10"></textarea>

          <div class="contact-buttons">
            <input type="submit" value="Send">
            <input type="reset" value="Reset">
          </div>
          
        </fieldset>
      </form>
    </section>
  </main>
<%- include partials/footer %>