<%- include partials/header %>
  <main class="contact">
    <section class="contact-form">
      <h1>Newsletter Signup</h1>
      <form action="/submitform" method="post">
        <fieldset>
          <legend>Sign up for our newsletter</legend>

          <label for="name">Name</label>
          <input type="text" id="name" name="name" required>

          <label for="email">Email</label>
          <input type="text" id="email" name="email" required>

          <label for="eighteen">I am over 18</label>
          <input type="checkbox">

          <div class="contact-buttons">
            <input type="submit" value="Send">
            <input type="reset" value="Reset">
          </div>
          
        </fieldset>
      </form>
    </section>
  </main>
<%- include partials/footer %>