<%- include partials/header %>
  <main class="hero">
    <h1>Hi, I'm Katherine Picazo</h1>
    <p>I'm a web dev student at SAIT. This site is a collection of old hobbies and interests.</p>
  </main>
<%- include partials/footer %>